.main-div{
    text-align: center;
}

.list {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-right: 50px;
    padding-top: 10px;
  }  

  .list-down {
    display: flex;
    align-items: center; 
  }
  
  .list-item {
    margin-right: 10px; 
  }